.container
	#auction
		%h2 Auction
		- @items.each do |i|
			%h3
				#{i['number'].to_i}. #{i['name']} | High bid:
				%strong $#{i['high_bid']}
				| Number of bids:
				%strong #{i['bids'].size}
			- i['bids'].each do |b|
				.bid $#{b['amount']} -- #{b['bidder_name']} (#{b['bidder_phone']}) -- Placed at: #{b['ts']} UTC
		
	#raffle
		%h2 Raffle
		- @prizes.each do |p|
			%h3
				#{p['number'].to_i}. #{p['name']} | Number of tickets:
				%strong #{p['bids'].size}
			- p['bids'].each do |b|
				.bid #{b['bidder_name']} (#{b['bidder_phone']}) -- Entered at: #{b['ts']} UTC
		