.container
	#auction
		%h2
			Auction | Net Revenue:
			%strong $#{@auction_net_revenue}
		- @items.each do |i|
			%h3
				#{i['number'].to_i}. #{i['name']} | High bid:
				%strong $#{i['high_bid']}
				| Number of bids:
				%strong #{i['bids'].size}
			.bids
				- count = 0
				- i['bids'].each do |b|
					- color = count == 0 ? '#ffe0e0' : 'none'; count += 1;
					.bid{:style => "background-color:#{color};"}
						$#{b['amount']} -- #{b['bidder_name']} (#{b['bidder_phone']}) -- #{b['ts']} UTC
		
	#raffle
		%h2
			Raffle | Total Tickets:
			%strong #{@raffle_total_tickets}
		- @prizes.each do |p|
			%h3
				#{p['number'].to_i}. #{p['name']} | Number of tickets:
				%strong #{p['bids'].size}
			.bids
				- p['bids'].each do |b|
					.bid #{b['bidder_name']} (#{b['bidder_phone']}) -- #{b['ts']} UTC
		